<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,400;0,500;0,900;1,500&family=Source+Code+Pro&display=swap');

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	font-family: "Poppins";
}

body {
	background: #eeeeee;
}

.navbar-brand {
	font-size: 32px;
	padding-top: 10px;
=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,400;0,500;0,900;1,500&family=Source+Code+Pro&display=swap');

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	font-family: "Poppins";
}

body {
	background: #eeeeee;
}

.navbar-brand {
	font-size: 32px;
	padding-top: 10px;
>>>>>>> 0db0c6166abf08ea6e6a4e7798b880dc2933653d
}